<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.fb-page %}
    <div class="call-fbpage"><strong>Facebook Page: </strong> 
      <a href="{{ site.data.contact.fb-page }}">
        {{ site.data.contact.fb-page }}
      </a>
    {% endif %}
    {% if site.data.contact.fb-group %}
    <div class="call-fbgroup"><strong>Facebook Group: </strong>
      <a href="{{ site.data.contact.fb-group }}">
        {{ site.data.contact.fb-group }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.meetup %}
    <div class="call-meetup"><strong>Meetup Page: </strong>
      <a href="{{ site.data.contact.meetup }}">
        {{ site.data.contact.meetup }}
      </a>
    </div>
    {% endif %}
  </div>
</div>
