---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>


  <div class="container">
    <H1>Upcoming Events</H1>
    {% for event in site.data.events %}
    <div class="card mb-3">
      <div class="card-body row">
      <div class="col-2">
        {% if event.image %}
        <img src="{{ event.image | relative_url }}" />
      </div>
        {% endif %}
      <div class="col-10">
          <h3 class="card-title"> 
          {{ event.title }}  </h3>
          <h5 class="card-subtitle mb-2 text-muted">{{ event.date }}</h5>
          <p class="card-text">{{ event.description }}</p>
          
          {% if event.url %}    
          <a href="{{ event.url }}" class="btn btn-primary" target="_blank"> More details </a>
          {% endif %}           
        </div>
      </div>
      </div>
      {% endfor %}
    </div>


