---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>


  <div class="container">
    <H1>Upcoming Events</H1>
    {% for event in site.data.events %}
    <div class="row">
      <div class="col-lg-3">
        {% if event.image %}
        <div class="feature-image"><img src="{{ event.image | relative_url }}" />
        </div>
        {% endif %}
        <div class="col-lg ml-3 mr-3">
          <h5 class="font-weight-bolder text-primary"> 
          {{ event.title }}  </h5>
          <p>{{ event.date }}</p>
          <p>{{ event.description }}</p>
          
          {% if event.url %}    
          <a href="{{ event.url }}" class="btn btn-primary" target="_blank"> More details </a>
          {% endif %}            
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

