---
layout: default
bodyClass: page-services-list
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="strip strip-grey">
<div class="container pt-6 pb-6">
    <H1>Upcoming Events</H1>
    <div class="row">
      {% for event in site.data.events %}
      <div class="col-12 col-md-12 mb-3">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ event.url }}">{{ event.title }}</a>
            </h2>
            <h4>
              {{ event.date }}
            </h4>
            <p>{{ event.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
</div>

<div class="container pt-6 pb-6">
    <H1>Past Events</H1>
    <div class="row">
      {% for event in site.data.events-past %}
      <div class="col-12 col-md-12 mb-3">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ event.url }}">{{ event.title }}</a>
            </h2>
            <h4>
              {{ event.date }}
            </h4>
            <p>{{ event.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>


